html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #222222;
  color: #fff;
}

body.light {
  background-color: #fff8e7;
  color: #111111;
}

h1 {
  text-align: left;
  margin: 80px;
}

h3 {
  text-align: left;
}

p {
  text-align: left;
  margin-left: 20px;
  margin-right: 160px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #2D2926;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  background-color: #fff;
  color: #222222;
  border: 2px solid #111111;
  box-shadow: #666666 4px 4px 0 0;
}

input[type=submit]:hover {
  background-color: #222222;
  color: white;
  box-shadow: #111111 4px 4px 0 0;
}

.container {
  margin: 80px;
}

.feed_elem {
  margin-top: 40px;
  background-color: white;
  border-radius: 6px;
  height: 400px;
  overflow: scroll;
}

footer {
  width: 100%;
  border-top: 1px solid #444444;
}

.social {
  position: fixed;
  top: 20px;
}

.social ul {
  padding: 0px;
  transform: translate(-280px, 0);
}

.social ul li {
  display: block;
  margin: 15px;
  background: #fff;
  width: 310px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  box-shadow: #666666 4px 4px 0 0;
  border: 2px solid #111111;
}

.social ul li:hover i {
  color: #fff;
  background: #222222;
  transform: rotate(360deg);
  transition: all 1s;
}

.social ul li i {
  color: #444444;
  padding: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.switch {
  position: absolute;
  right: 40px;
  top: 40px;
}

.fa-moon-o {
  color: #fff;
}

.fa-sun-o {
  color: #fff;
}

.top {
  text-decoration: none;
  border-radius: 30px;
  background-color: #fff;
  color: #222222;
  border: 2px solid #111111;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  right: 20px;
  box-shadow: #666666 4px 4px 0 0;
  bottom: 10px;
}

.top:hover {
  background-color: #222222;
  color: white;
  box-shadow: #111111 4px 4px 0 0;
}

.content {
  height: 160px;
  overflow: hidden;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  //bottom: 0;
  //background: rgba(0, 0, 0, 0.5);
  //color: #fff;
  width: 100%;
  //padding: 20px;
}

.content__container {
  font-weight: 700;
  overflow: hidden;
  height: 40px;
  width: 100%;
  display: grid;
  justify-content: center;
}


.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 80px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

.btn{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: #fff;
  color: #222222;
  border: 2px solid #111111;
  cursor: pointer;
  box-shadow: #666666 4px 4px 0 0;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.btn:hover {
  background-color: #222222;
  color: white;
  box-shadow: #111111 4px 4px 0 0;
}

.header{
  padding-top: 300px;
  padding-bottom: 300px;
}

.header:before{
  background-image: url("background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  content: ' ';
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

/* Style the video: 100% width and height to cover the entire window */
//#myVideo {
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //min-width: 100%;
  //min-height: 100%;
//}

/*# sourceMappingURL=index.css.map */