html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {font-family: system-ui, sans-serif;
background-color: #222222;
color: #fff;}

body.light {
  background-color: #fff8e7;
  color: #111111;
}

h1 {
	text-align: left;
	margin: 80px;
}

h3 {
	text-align: left;
}

p {
  text-align: left;
  margin-left: 20px;
  margin-right: 160px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #2D2926;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  background-color: #fff;
  color: #222222;
  border: 2px solid #111111;
  box-shadow: #666666 4px 4px 0 0;
}

input[type=submit]:hover {
  background-color: #222222;
  color: white;
  box-shadow: #111111 4px 4px 0 0;
}

.container {
  margin: 80px;
}

.feed_elem{
  margin-top: 40px;
  background-color: white;
  border-radius: 6px;
  height: 400px;
  overflow: scroll;
}

footer {
   width: 100%;
   border-top: 1px solid #444444;
}

.social {
  position: fixed;
  top: 20px;
}
.social ul {
  padding: 0px;
  transform: translate(-280px, 0);
}
.social ul li {
  display: block;
  margin: 15px;
  background: #fff;
  width: 310px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
}

.social ul li:hover i {
  color: #fff;
  background: #222222;
  transform: rotate(360deg);
  transition: all 1s;
}
.social ul li i {
  color: #444444;
  padding: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.switch{
  position: absolute;
  right: 40px;
  top: 40px;
}

.fa-moon-o {
  color: #fff;
}

.fa-sun-o {
  color: #fff;
}

.top{
  text-decoration: none;
  border-radius: 30px;
  background-color: #fff;
  color: #222222;
  border: 2px solid #111111;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  right: 20px; 
  box-shadow: #666666 4px 4px 0 0;
  bottom: 10px;
}

.top:hover {
  background-color: #222222;
  color: white;
  box-shadow: #111111 4px 4px 0 0;
}